#mapid {
    height: 800px;
}

.custom-control,
.custom-control2 {
    width: 150px;
    height: 30px;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
    background-color: brown;
    color: white;
}

.custom-control::before,
.custom-control2::before {
    content: 'Settings';
}

.custom-control:hover,
.custom-control2:hover {
    background-color: #ea3737;
    /* dark red */
}

#submit-form {
    float: right;
}

#task-completed input {
    width: 1em;
    height: 1em;
    position: relative;
}

label#task-completed {
    font-size: 1.5em;
    margin-left: 1em;
}

body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

.leaflet-sidebar.left {
    transition: left 0.2s, width 0.2s!important;
}


h1.sidebar-heading {

    text-align: center;
    margin-bottom: 2em;
    font-size:1.2em;

}

.open-project-button{
    margin-top:0.8em;
    display:block;
}

h2.sidebar-sub-heading {
    font-size: 1.2em;
    background-color: #ababab;
    color: white;
    padding: 0.3em;
}